.top-panel {
    position: relative;
    top: -40px;
}

.not-found-search-elem-center {
    position: absolute;
    left: 30%;
    top: 50%;
}

a {
    cursor: pointer !important;
}

.mod {
    width: 265px !important;
}

.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}

.sb-backdown {
    margin-left: 210px
}