<vote-add-form [currentUser]="currentUser" (create)="createVote($event)" #voteAddForm></vote-add-form>
<vote-del-form (delete)="deleteVote($event)" #delForm></vote-del-form>
<vote-close-form (close)="closeVote($event)" #closeForm></vote-close-form>
<div class="vote-box" *ngFor="let vote of voteArr">
   <div *ngIf="isCurrentUserCreator(vote)">
        <button type="button" class="close glyphicon glyphicon-remove" aria-label="Close" (click)="delForm.openDelModal(vote)"></button>
        <button type="button" class="close glyphicon glyphicon-cog" aria-label="Close" (click)="closeForm.openCloseModal(vote)"></button>
    </div>
    <div class="question-box" *ngIf="vote.available">
        <ul>
            <li class="question"> {{vote.description}}</li>
            <li *ngFor="let option of vote.options">
                <input type="radio" name="{{vote.description}}" (click)="toScoreOption(option, vote)" value="{{option}}" #input>
                {{option.description}}
            </li>
        </ul>
    </div>
    <div class="answer-box" *ngIf="!vote.available">
        <ul>
            <li class="question"> {{vote.description}}</li>
            <li *ngFor="let option of vote.options">
                {{option.description}}
                <div class="progress">
                    <span class="progress-value">{{option.progress}}%</span>
                    <div class="progress-bar" aria-valuemin="0" aria-valuemax="100" [style.width]="option.progress + '%'"></div>
                </div>
            </li>
            <li>
                {{'voted' | translate | capitalize}} <span class="info-elem">{{vote.numberOfRespondents}}</span>
            </li>
        </ul>

    </div>
    <div class="info-row">
        <span> {{'creationDate' | translate | capitalize}}: <span class="info-elem">{{getStartTime(vote.startTime)}}</span></span>
        <span> {{'dateFinish' | translate | capitalize}}: <span class="info-elem">{{getEndTime(vote.endTime)}}</span> </span>
        <span> {{'creator' | translate | capitalize}}: <span class="info-elem">{{vote.user.firstName}} {{vote.user.lastName}}</span></span>
    </div>
</div>