.vote-box {
    width:900px;
    margin: 0 auto;
    padding: 10px;
    background: whitesmoke;
    border-top:1px solid slategray;
    border-bottom:1px solid slategray;
}

.question {
    margin-bottom: 5px;
    font-size: 16px;
}

.respondents {
    margin-top:10px;
}

ul {
    padding: 0px 40px;
    font: 12px/1.6 Arial, Verdana, Tahama, sans-serif;
}

.info-row {
    padding: 0px 40px;
}

.info-row span {
    font-size: 12px;
    font-family: Georgia, "Times New Roman", Times, Serif;
	color: #aaaaaa;
    padding-right: 15px;
}

.info-elem {
    font-weight: bold;
}

.progress {
    text-align:center;
}

.progress-value {
    position:absolute;
    color: black;
    right:0;
    left:0;
}