<!-- Created by Anastasiia Fedorak on 7/28/16. -->
<div class="panel panel-default pos-top">

    <div class="panel-heading"><h4><i class="fa fa-angle-right"></i> {{ 'contracts' | translate }}</h4></div>

    <div class="panel-body">
        <div class="content-panel">
            <div id="active_filter" class="pull-left">
                    <input type="checkbox"
                           (change)="onOnlyActive()"
                           class="form-control input-sm" [(ngModel)]="onlyActive"> {{'active' | translate | capitalize }}
            </div>
            <div id="example_filter" class="pull-right dataTables_filter">
                <input type="search" class="form-control input-sm" placeholder="{{ 'search' | translate }}..."  #search
                       (keyup)="onSearch(search.value)"
                       aria-controls="example">
            </div>

            <table class="table table-striped table-advance table-hover">
                <thead>
                <tr>
                    <th class="sorting">
                        <i class="fa fa-bullhorn"></i> {{ 'company' | translate | capitalize }}
                        <a style="{cursor:pointer}" (click)="sortBy('provider.name')"><span
                                class="fa fa-fw fa-sort pull-right"></span></a>
                    </th>
                    <th class="sorting">
                        <i class=" fa fa-calendar"></i> {{ 'dateStart' | translate | capitalize }}
                        <a style="{cursor:pointer}" (click)="sortBy('dateStart')"><span
                                class="fa fa-fw fa-sort pull-right"></span></a>
                    </th>
                    <th class="sorting">
                        <i class="fa fa-calendar"></i> {{ 'dateFinish' | translate | capitalize }}
                        <a style="{cursor:pointer}" (click)="sortBy('dateFinish')"><span
                                class="fa fa-fw fa-sort pull-right"></span></a>
                    </th>
                    <th>
                        <i class=" fa fa-circle-o-description"></i> {{ 'text' | translate | capitalize }}
                    </th>
                    <th class="sorting">
                        <i class="fa fa-money"></i> {{ 'price' | translate | capitalize }}
                        <a style="{cursor:pointer}" (click)="sortBy('price')"><span
                                class="fa fa-fw fa-sort pull-right"></span></a>
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let contract of contracts" >
                    <!--[style.background-color] = "contract.active ? 'green' : 'red'">-->
                    <!--[ng-class]="{active: contract.active, disabled: !contract.active}" >-->
                    <td>{{ contract.provider.name }} <img style="max-height: 30px; max-width: 30px"></td>
                    <td>{{ contract.dateStart }}</td>
                    <td>{{ contract.dateFinish }}</td>
                    <td> {{ contract.text }}</td>
                    <td> {{contract.price | currency: contract.priceCurrency : false :'2.2-2'}} </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownContract"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ 'options' | translate | capitalize }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownContract">
                                <li><a style="cursor: pointer" (click)="openEditModal(contract)" class="yellow">{{ 'edit' | translate | capitalize }}</a></li>
                                <li><a style="cursor: pointer" (click)="openDelModal(contract.contractId)" class="red"> {{ 'delete' | translate | capitalize }}</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>

            </table>


            <!-- delete modal-->
            <div bsModal #delModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-label="Close"
                                    (click)="delModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">{{ 'removing' | translate | capitalize }} ...</h4>
                        </div>
                        <div class="modal-body">
                            <h5>{{ 'confirmDelete' | translate | capitalize }}</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" (click)="delModal.hide()">{{ 'no' | translate | capitalize }}
                            </button>
                            <button type="button" class="btn btn-primary" (click)="closeDelModal()">{{ 'yes' | translate | capitalize }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <!--Edit Modal -->
            <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-label="Close"
                                    (click)="editModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title"> {{ 'edit' | translate | capitalize }}</h4>
                        </div>
                        <form *ngIf="active" (ngSubmit)="onEditContractSubmit()" #contractForm="ngForm">
                            <div class="modal-body">

                                <select-provider (providerChanged)="editCompany($event)" [selected]="selected.provider"></select-provider> <!-- Company -->

                                <div class="form-group">
                                    <label> {{ 'dateStart' | translate | capitalize }}</label>
                                    <input type="date" class="form-control" required
                                           name="dateStart" [(ngModel)]="selected.dateStart"
                                           #dateStart="ngModel">
                                    <div [hidden]="dateStart.valid"
                                         class="alert alert-danger">
                                        {{ 'required' | translate | capitalize }}
                                    </div>
                                </div> <!-- data start -->

                                <div class="form-group">
                                    <label> {{ 'dateFinish' | translate | capitalize }}</label>
                                    <input type="date" class="form-control" required
                                           name="description" [(ngModel)]="selected.dateFinish"
                                           #dateFinish="ngModel">
                                    <div [hidden]="dateFinish.valid"
                                         class="alert alert-danger">
                                        {{ 'required' | translate | capitalize }}
                                    </div>
                                </div> <!-- date finish -->

                                <div class="form-group">
                                    <label> {{ 'price' | translate | capitalize }}</label>
                                    <input type="text" class="form-control" required
                                           name="price" [(ngModel)]="selected.price"
                                           #price="ngModel">
                                    <currency [currentCurrency]="selected.currency"  (currencyChanged)="selectCurrency($event)"></currency>
                                    <div [hidden]="price.valid || price.pristine"
                                         class="alert alert-danger">
                                        {{ 'required' | translate | capitalize }}
                                    </div>
                                </div> <!-- price -->

                                <div class="form-group">
                                    <label> {{ 'text' | translate | capitalize }}</label>

                                    <textarea  class="form-control" name="text" [(ngModel)]="selected.text"
                                           #text="ngModel"></textarea>
                                </div> <!-- text -->


                            </div>


                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default" [disabled]="!contractForm.form.valid">
                                    {{ 'save' | translate | capitalize }}
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


            <!--Create Modal -->
            <div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-label="Close"
                                    (click)="createModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title"> {{ 'create' | translate | capitalize }}
                            </h4>
                        </div>
                        <form *ngIf="active" (ngSubmit)="onCreateContractSubmit()" #contractForm="ngForm">
                            <div class="modal-body">

                                <select-provider (providerChanged)="selectCompany($event)"></select-provider> <!-- Company -->

                                <div class="form-group">
                                    <label> {{ 'dateStart' | translate | capitalize }}
                                    </label>
                                    <input type="date" class="form-control" required
                                           name="date" [(ngModel)]="newContract.dateStart" #dateStart="ngModel">
                                    <div [hidden]="dateStart.valid || dateStart.pristine" class="alert alert-danger">
                                        {{ 'required' | translate | capitalize }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label> {{ 'dateFinish' | translate | capitalize }}
                                    </label>
                                    <input type="date" class="form-control" required
                                           name="date" [(ngModel)]="newContract.dateFinish" #dateFinish="ngModel">
                                    <div [hidden]="dateFinish.valid || dateFinish.pristine" class="alert alert-danger">
                                        {{ 'required' | translate | capitalize }}
                                    </div>
                                </div>

                                <div class="form-group"><label>{{ 'price' | translate | capitalize }}
                                </label>
                                    <input type="text" class="form-control" required [(ngModel)]="newContract.price"
                                           name="price" #price="ngModel">

                                    <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
                                        {{ 'required' | translate | capitalize }}
                                    </div>
                                    <currency [currentCurrency]="UAH" (currencyChanged)="selectCurrency($event)"></currency>

                                </div>
                                <div class="form-group"><label>{{ 'text' | translate | capitalize }}</label>
                                    <textarea  class="form-control" name="text" [(ngModel)]="newContract.text"
                                          #text="ngModel"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default" [disabled]="!contractForm.form.valid">
                                    {{ 'save' | translate | capitalize }}
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div><!-- /content-panel -->



        <nav class="pull-right" aria-label="Page navigation">
            <ul class="pagination">
                <li [ngStyle]="{'display': pageNumber == 1? 'none' : ''}">
                    <a (click)="prevPage()" style="cursor: pointer" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li [ngClass]="{'active': num == pageNumber}" *ngFor="let num of pageList"><a
                        style="cursor: pointer" (click)="getContractsByPageNum(num)">{{num}}</a></li>
                <li [ngStyle]="{'display': pageNumber == totalPages? 'none' : ''}">
                    <a (click)="nextPage()" style="cursor: pointer" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div>
            <button type="button" class="btn btn-success" (click)="openCreateModal()">{{ 'create' | translate | capitalize }}</button>
        </div>

    </div>
</div>
