<div class="panel panel-default pos-top">
    <div class="panel-heading"><h4>ОСББ</h4></div>
    <div class="panel-body">
        <div class="content-panel">
             <div class="ui segment form">
                     <button  class="btn btn-success" (click)="addForm.openAddModal();printCurrentUser()"><i>Добавити ОСББ</i></button>
                     <osbb-add-form (created)="createOsbb($event)" #addForm></osbb-add-form>
                     <osbb-edit-form [osbb]="updatedOsbb" (update)="editOsbb($event)" #editForm></osbb-edit-form>
                     <osbb-del-form  (delete)="deleteOsbb($event)" #delForm></osbb-del-form>
             </div>
            <div id="example_filter" class="pull-right dataTables_filter">
                <input type="search" class="form-control input-sm" placeholder="пошук по імені..." aria-controls="example" (keyup)="searchByNameOsbb(searchInput.value)" #searchInput>
            </div>
            <table class="table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th> Логотип</th>
                        <th class="sorting"><i class="fa fa-bullhorn"> </i> Назва
                            <a style="{cursor:pointer}" (click)="sortBy('name')"><span
                                    class="fa fa-fw fa-sort pull-left"></span></a>
                        </th>
                        <th class="sorting"><i class=" fa fa-edit"></i> Опис</th>
                        <th class="sorting"><i class=" fa fa-edit"></i> Адрес</th>
                        <th class="sorting"><i class=" fa fa-edit"></i> Район</th>
                        <th class="sorting"><i class=" fa fa-edit"></i> Дата створення</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let osbb of osbbArr">
                        <td><img src="{{osbb.logoUrl}}" alt="empty" height="50" width="60"/></td>
                        <td>{{osbb.name}}</td>
                        <td>{{osbb.description}}</td>
                        <td>{{osbb.address}}</td>
                        <td>{{osbb.district}}</td>
                        <td>{{getCreationDate(osbb.creationDate)}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Опції
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a style="cursor: pointer" (click)="initUpdatedOsbb(osbb);editForm.openEditModal()">Редагувати</a></li>
                                    <li><a style="cursor: pointer" (click)="delForm.openDelModal(osbb)">Видалити</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--
        <nav class="pull-right" aria-label="Page navigation">
            <ul class="pagination">
                <li [ngStyle]="{'display': pageNumber == 1? 'none' : ''}">
                    <a (click)="prevPage()" style="cursor: pointer" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li [ngClass]="{'active': num == pageNumber}" *ngFor="let num of pageList"><a
                        style="cursor: pointer" (click)="getReportsByPageNum(num)">{{num}}</a></li>
                <li [ngStyle]="{'display': pageNumber == totalPages? 'none' : ''}">
                    <a (click)="nextPage()" style="cursor: pointer" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav> -->
    </div>
</div>