<div class="panel panel-default pos-top">
    <div class="panel-heading"><h4><i class="fa fa-angle-right"></i>Обговорення</h4></div>
    <div class="panel-body">
        <div class="content-panel">
              <div class="ui segment form">
                     <button  class="btn btn-success" (click)="addForm.openAddModal()"><i>Добавити Обговорення</i></button>
                     <ticket-add-form (created)="createTicket($event)" #addForm></ticket-add-form>
                     <ticket-edit-form [ticket]="updatedTicket" (update)="editTicket($event)" #editForm></ticket-edit-form>
                     <ticket-del-form  (delete)="deleteTicket($event)" #delForm></ticket-del-form>
                         <!-- <message (showMessage)="initMessage($event)" #message></message>-->
             </div>
           
            <div id="example_filter" class="pull-right dataTables_filter">
                <input type="search" class="form-control input-sm" placeholder="пошук..." aria-controls="example">
            </div>
            <table class="table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th class="sorting"><i class="fa fa-bullhorn"> </i> Назва
                            <a style="{cursor:pointer}" (click)="sortBy('name')"><span
                                    class="fa fa-fw fa-sort pull-left"></span></a>
                        </th>
                        <th class="sorting"><i class=" fa fa-edit"></i> Опис
                        <th class="sorting"><i class=" fa fa-edit"></i> Статус
                         <th class="sorting"><i class=" fa fa-edit"></i> Дата
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ticketArr"> <!--[routerLink]="['message']" -->
             <td><a  style="cursor: pointer" (click)="singleTicket(item.ticketId)"> {{item.name}}</a></td>
                        <td>{{item.description}}</td>
                         <td>{{item.state}}</td>
                         <td>{{item.time}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Опції
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a style="cursor: pointer" (click)="initUpdatedTicket(item);editForm.openEditModal()">Редагувати</a></li>
                                    <li><a style="cursor: pointer" (click)="delForm.openDelModal(item)">Видалити</a></li>
                                </ul>
                            </div>
                        </td>
                        
                     
                    </tr>
                   
                </tbody>
            </table>
        </div>
        <nav class="pull-right" aria-label="Page navigation">
            <ul class="pagination">
                <li [ngStyle]="{'display': pageNumber == 1? 'none' : ''}">
                    <a (click)="prevPage()" style="cursor: pointer" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li [ngClass]="{'active': num == pageNumber}" *ngFor="let num of pageList"><a
                        style="cursor: pointer" (click)="getReportsByPageNum(num)">{{num}}</a></li>
                <li [ngStyle]="{'display': pageNumber == totalPages? 'none' : ''}">
                    <a (click)="nextPage()" style="cursor: pointer" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
