ul {
    padding: 5px;
}

.info-box {
    height: 300px;
    background: slategray;
}

.calendar{
    background: #777;
    height: 300px;
}

.top-box {
    margin: 0px;
}

.content {
    background: #777;
    margin-left: 210px;
}

.logo {
    padding-top: 20px;
    height: 300px;
}

.osbb-info-box {
    padding: 15px;
    height: 300px;
}
.osbb-info-row {
    margin-bottom: 10px;
    font-size: 10px;
}

.header-info {
    border-bottom: 1px solid slategray;
    margin-bottom: 12px;
}
.header-info span{
    font-size: 14px;
}

h2 {
    text-transform: none;
    color: #090909;
    font-weight: bold;
    font-size: 18px;
}

.left{
    width:100px;
	float: left;
}

.right{
	margin-left:100px;
}

.logo img {
   height:100%;
   width:100%;
}

