<header class="header black-bg">
    <div class="sidebar-toggle-box" [ngStyle]="{'display': 'none'}">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a [routerLink]="[_loginService.checkLogin()?'home/wall':'login']" class="logo"><i class="fa fa-home fa-lg" aria-hidden="true"><b>
        {{ 'ourYard' | translate | capitalize }}</b></i></a>
    <!--logo end-->

    <div class="lang-nav">
        <div>
            | <a class="lang-item" *ngFor="let lang of languages" (click)="onSelect(lang)" [class.selectedLang] = "lang == selectedLang">
            {{lang | uppercase}} |</a>
        </div>
    </div>

    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li *ngIf="_loginService.checkLogin()"><a [routerLink]="['home/user/main']" class="top">
                <i class="fa fa-user fa-lg" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li *ngIf="_loginService.checkLogin()"><a (click)="_loginService.logOut()"  [routerLink]="['']" class="top">
                <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</header>