<div bsModal #addVoteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" [ngFormModel]="creatingForm">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="closeAddModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Опитування</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" [ngClass]="{ 'has-error' : submitAttempt && !question.valid }">
                    <input class="form-control" type="text" placeholder="Введіть тему опитування" [(ngModel)]="questionInputStr" #questionInput
                        ngControl="question" required>
                    <div class="alert alert-danger" *ngIf="submitAttempt && !question.valid">Введіть тему опитування</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : !isOptionArrSizeCorrect() && submitAttempt }">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Введіть варіант відповіді" maxlength="256" [(ngModel)]="optionInputStr"
                            #optionInput required>
                        <span class="input-group-btn">
                                <button class="btn btn-default" (click)="addOption(optionInput.value)" type="button" [disabled]="isOptionInputEmpty()">Додати</button>
                            </span>
                    </div>
                    <div class="alert alert-danger" *ngIf="submitAttempt && !isOptionArrSizeCorrect()">Додайте мінімум 2 варіанти відповіді</div>
                    <div>
                        <ul>
                            <li *ngFor="let option of optionArr">
                                <button type="button" aria-label="Close" (click)="deleteOption(option)">&times;</button>{{option.description}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : submitAttempt && !isEndTimeCorrect() }">
                    <label>Введіть дату закінчення голосування </label>
                    <input class="form-control" type="datetime-local" [(ngModel)]="endTimeStr" />
                    <div class="alert alert-danger" *ngIf="submitAttempt && !isEndTimeCorrect()">Неправильний час закінчення голосування</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" (click)="toggleSubmitAttempt(); onCreateVoting()" class="btn btn-default">
                        Створити
                    </button>
            </div>
        </div>
    </div>
</div>