<div class="container ">
    <div class="registration-form  center-block" *ngIf="!registered">
        <form class="ui form " (ngSubmit)="onSubmit()" #registerForm="ngForm">
            <div class="form-header">
            <h3>Registration </h3>
            </div>
            <div class="form-container">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Ім'я</label>
                        <input  [textMask]="{mask:textmask,guide:false}"  class="form-control placeholder-no-fix" name="firstName"[(ngModel)]="newUser.firstName" placeholder="Your first name..." type="text" required>
                    </div>
            
                    <div class="col-xs-6">
                        <label>Прізвище</label>
                        <input [textMask]="{mask:textmask,guide:false}"  class="form-control placeholder-no-fix" name="lastName"[(ngModel)]="newUser.lastName" placeholder="And lastname here..."  type="text" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Емейл</label>

                        <input [textMask]="{mask:emailMask}" class="form-control placeholder-no-fix"name="email" [(ngModel)]="newUser.email" placeholder="email..." type="text" required>
                    </div>
                </div>
               <div class="row">
                    <div class="col-xs-12">

                        <label>Номер телефону</label>
                    <input [textMask]="{mask:phoneMask}"  class="form-control" name="phoneNumber" [(ngModel)]="newUser.phoneNumber" type="text" placeholder="phone number.."required>
                </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">

                        <label>Дата народження</label>
                    <input class="form-control" name="birthDate" [(ngModel)]="newUser.birthDate" type="date" required>
                </div>
            </div>
               
               <div class="row">
                    <div class="col-xs-12">

                        <label>Хто ж ти такий ?</label>
                      <select class="form-control" id="mission" placeholder="Chose your destiny!..." required>
                        <option>Житель</option>
                        <option>Голова ОСББ</option>
                        
                     </select>
                </div>
            </div>
                
                <div class="row">
                  <div class="col-xs-12">
                    <label>Пароль</label> <input class="form-control placeholder-no-fix col-xs-6"name="password" [(ngModel)]="newUser.password"   (blur)="confirmPass()" placeholder='password...' type="password" required>
                    <div class="col-xs-12 centered">
                        <label *ngIf='error' class="error" disabled=true>{{errorMsg}}</label>
                    </div>
                    </div>
                    <div class="col-xs-12">
                      <label>Підтвердіть пароль</label> <input class="form-control placeholder-no-fix col-xs-6" [(ngModel)]="confirmPassword" name="confirmPassword" (blur)="confirmPass()" placeholder='confirm password...' type="password" required>
                    <div class="col-xs-12 centered">
                        <label *ngIf='errorConfirm' class="error" disabled=true>{{errorMsg}}</label>
                    </div>    
                    </div>
                    
                </div>
                <br>
                
            </div>

                    <div class="row form-footer">
                        <hr>
                        <br>
                        <div class="col-xs-6">
                        <a class="btn btn-danger col-xs-12" href="javascript:history.back()">Назад</a>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-primary col-xs-12"  type='submit'>Вперед</button>
                            </div>
                    </div>

        </form>
    </div>
    <div class="form-footer" *ngIf="registered">
        <hr>
        <h3>Done</h3>
        <div class="col-xs-6">
            <a class="btn btn-danger col-xs-12" href="javascript:history.back()">Назад</a>
        </div>

    </div>
</div>

